<h2><%=t :edit_account %></h2><br /><br />

<%= bootstrap_horizontal_form_for resource, :url => registration_path(resource), :html => { :method => :put } do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
        <%= f.label :first_name, :col_sm => 2 %>
        <%= f.text_field :first_name, :col_sm => 3 %>
    </div>
    <div class="form-group">
        <%= f.label :last_name, :col_sm => 2 %>
        <%= f.text_field :last_name, :col_sm => 3 %>
    </div>
    <div class="form-group">
        <%= f.label :email, :col_sm => 2 %>
        <%= f.email_field :email, :col_sm => 3 %>
    </div>
    <div class="form-group">
        <%= f.label :date_of_birth, :col_sm => 2 %>
        <%= f.text_field :date_of_birth, 'data-behaviour' => 'datepicker', :style => "width: 40%" %>
    </div>
    <div class="form-group">
        <%= f.label :username, :col_sm => 2 %>
        <%= f.text_field :username, :col_sm => 3 %>
    </div>
    <div class="form-group">
        <%= f.label :addr_street, :col_sm => 2 %>
        <%= f.text_field :addr_street, :col_sm => 3 %>
    </div>
    <div class="form-group">
        <%= f.label :addr_postcode, :col_sm => 2 %>
        <%= f.text_field :addr_postcode, :style => "width: 40%" %>
    </div>
    <div class="form-group">
        <%= f.label :addr_city, :col_sm => 2 %>
        <%= f.text_field :addr_city, :col_sm => 3 %>
    </div>
    <div class="form-group">
        <%= f.label :phone_number, :col_sm => 2 %>
        <%= f.text_field :phone_number, :col_sm => 3 %>
    </div>

    <div class="form-group">
      <%= f.label :facebook_url, :col_sm => 2 %>
      <%= f.text_field :facebook_url, :col_sm => 3 %>
    </div>
    <div class="form-group">
        <%= f.label :avatar, :col_sm => 2 %>
        <div class="col-sm-1" style="width: 60px; margin-bottom: 5px;">
            <%= image_tag resource.avatar.url(:icon), :style => "border-radius: 3px;" %>
        </div>
        <%= f.file_field :avatar, :title => t(:browse), :class => "btn-primary", :col_sm => 12 %>
    </div>
    <div class="form-group">
        <%= f.label :password, :col_sm => 2 %>
        <%= f.password_field :password, :col_sm => 3 %> <%=t :blank_password %>
    </div>
    <div class="form-group">
        <%= f.label :password_confirmation, :col_sm => 2 %>
        <%= f.password_field :password_confirmation, :col_sm => 3 %>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <%= f.submit t :edit_account, :class => "pull-right" %>
            <%= link_to [@user], :method => "DELETE", :class => "text-primary" do %><i class="fa fa-trash-o"> <%=t :delete %></i>&nbsp;&nbsp;<% end %>

        </div>
    </div>



<% end %>