<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel"><%=t :edit_assistance %></h4>
</div>

<%= bootstrap_horizontal_form_for @assistance, :url => organization_assistance_path(@organization, @assistance.user), :html => {:target => "_parent"} do |f| %>
    <div class="modal-body" style="overflow-y: scroll; width: 100%; height: 400px; padding: 10px 20px;">

        <%= f.fields_for :user do |u| %>
            <% label_col = 3
               field_col = 7 %>
            <div class="form-group">
                <%= u.label :email, :col_sm => label_col %>
                <%= u.text_field :email, :col_sm => field_col %>
            </div>
            <div class="form-group">
                <%= u.label :first_name, :col_sm => label_col %>
                <%= u.text_field :first_name, :col_sm => field_col %>
            </div>
            <div class="form-group">
                <%= u.label :last_name, :col_sm => label_col %>
                <%= u.text_field :last_name, :col_sm => field_col %>
            </div>
            <div class="form-group">
                <%= u.label :date_of_birth, :col_sm => label_col %>
                <%= u.date_select :date_of_birth, {:start_year => Time.now.year - 100, :end_year => Time.now.year}, :col_sm => field_col, :style => "display: inline; width: 32%;" %>
            </div>
            <div class="form-group">
                <%= u.label :username, :col_sm => label_col %>
                <%= u.text_field :username, :col_sm => field_col %>
            </div>
            <div class="form-group">
                <%= u.label :addr_street, :col_sm => label_col %>
                <%= u.text_field :addr_street, :col_sm => field_col %>
            </div>
            <div class="form-group">
                <%= u.label :addr_postcode, :col_sm => label_col %>
                <%= u.text_field :addr_postcode, :col_sm => label_col %>
            </div>
            <div class="form-group">
                <%= u.label :addr_city, :col_sm => label_col %>
                <%= u.text_field :addr_city, :col_sm => field_col %>
            </div>
            <div class="form-group">
                <%= u.label :country, :col_sm => label_col %>
                <%= u.country_select :country, :col_sm => field_col %>
            </div>
            <div class="form-group">
                <%= u.label :phone_number, :col_sm => label_col %>
                <%= u.text_field :phone_number, :col_sm => field_col %>
            </div>

        <% end %>


    </div>
    <div class="modal-footer">
        <%= link_to t(:delete_assistance), organization_assistance_path(@organization, @assistance.user), :method => "DELETE", :class => "btn btn-danger pull-left" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit t :edit_assistance %>
    </div>
<% end %>

<%= javascript_tag do %>
    $(document).ready(function() {
        $("[data-dismiss='modal']").click(function(){
            window.parent.$(".modal").modal('hide');
        });
    });
<% end %>