<div style="/*border:1px solid black; border-radius:30px;*/ padding-top:2%;">
  <h style ="font-size : 40px;"><%= t :about_title %></h><hr/>
  <div style = "/*border:1px solid black; border-radius:30px;padding-top:1%;*/ padding-left:2%;">
    <div style = "/*background-color:rgb(32, 45, 59);*/ width:25%; padding-left:24%; /*border-radius:100px;*/padding-bottom:1%;padding-top:1%;/*border:1px solid black;*/">
      <%= image_tag "logo.png" %>
      <!--<h1 style="color:white; font-size:30px;"> Solidare-IT!</h1>-->
      <!--<div style="background-image:url("logo_solidareit.png");">test</div>-->
    </div>
    <div style="/*border:1px solid black; border-radius:15px;*/ margin-left:25%; width:50%;">
      <p><%= t :about_text01 %></p>
      <p><%= t :about_text02 %></p>
    </div>
  </div>
  </br>
  <a href= "http://www.gnu.org/licenses/gpl.html" style="text-decoration:none/*color:rgb(32, 45, 59);*/:hover{color:rgb(79, 178, 216);} "><%= t :project_licence %></a>
  <hr/>
</div>
