<div style="/*border:1px solid black; border-radius:30px;*/ padding-top:2%;">
  <h style ="font-size : 40px;"><%= t :contact_us%></h><hr/>
  <div style = "/*border:1px solid black; border-radius:30px;padding-top:1%;*/ padding-left:25%;">
    <div style = "/*background-color:rgb(32, 45, 59);*/ width:25%; /*padding-left:24%; border-radius:100px;*/padding-bottom:1%;padding-top:1%;/*border:1px solid black;*/">
      <!--<h1 style="color:white; font-size:30px;"> Solidare-IT!</h1>-->
      <!--<div style="background-image:url("logo_solidareit.png");">test</div>-->
      <%= image_tag "logo.png" %>
    </div>
    <div style="/*border:1px solid black; border-radius:15px; margin-left:25%;*/ width:50%;">
      <p><%= t :contact_message %>  :  </p>
      <dl class="dl-horizontal">
        <dt style ="text-align:left;"><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;&nbsp; <%= t :facebook_page %> : </dt>
        <dd>www.facebook.com/page_bidon</dd>
        <dt style ="text-align:left;"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;&nbsp; <%= t :gmail_address %> : </dt>
        <dd>www.adresse_bidon@gmail.com</dd>
        <dt style ="text-align:left;"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp; <%= t :phone_number %> : </dt>
        <dd>060989898 => phone number bidon</dd>
        <dt style ="text-align:left;"><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;<%= t :address %> : </dt>
        <dd>Bruxelles n 465456 bidon street</dd>
      </dl>

    </div>
  </div>
  </br>
  <!--<a href= "http://www.gnu.org/licenses/gpl.html" style="text-decoration:none/*color:rgb(32, 45, 59);*/:hover{color:rgb(79, 178, 216);} ">Project licence</a>-->
  <hr/>
</div>