<h2><%=t :sign_in %></h2><br />

<div class="well">

    <%= bootstrap_horizontal_form_for(resource, :url => session_path(resource_name)) do |f| %>

        <div class="form-group">
            <%= f.label :email, :col_sm => 2 %>
            <%= f.text_field :email, :col_sm => 4 %>
        </div>
        <div class="form-group">
            <%= f.label :password, :col_sm => 2 %>
            <%= f.password_field :password, :col_sm => 4 %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="form-group">
                <%= f.check_box :remember_me, :col_sm_offset => 2, :label => t(:remember_me) %>
            </div>
        <% end -%>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <%= f.submit t(:sign_in) %>&nbsp;&nbsp;&nbsp;<%= link_to t(:forgot_password), new_password_path(resource_name) %>
            </div>
        </div>
    <% end %>


</div>
