<h1>Manage your circles</h1>
<div class="row">
    <div class="col-sm-12">
      <%= link_to t(:create_new_circle), new_circle_path, :class => 'btn btn-primary' %>
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Circle ID</th>
          <th>Circle name</th>
          <th>Members</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @circles.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.name %></td>
          <td>
            <%= link_to t(:btn_show), circle_path(item.id), :class => 'btn btn-success' %>
            <%= link_to t(:btn_edit), edit_circle_path(item.id), :class => 'btn btn-primary' %>
            <%= link_to t(:btn_delete), item, :method => :delete, data: { confirm: "Are you sure?"}, :class => 'btn btn-danger'  %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
